<html>

<h1>About Me</h1>

<h3>
    Professional Experience
</h3>
    <p>
        OpenText GXS
        I 

    </p>
    <p>
        Premier Physicians Centers
    </p>
    <p>
        The Chef's Garden
    </p>
    <p>
       Certifications and 
        I strive to improve myself and choose topics of study based on my current and desired positions.

    </p>

<h3>My Introduction to Computers and Programming</h3>
    <p>
        I liked video games in high school. A lot.  I played Starcraft and Everquest for hours at a time.  "Do what you love and you'll never work a day in your life", they said.  So I purchased a C++ introductory book with my paper route money.  I completed basic coding exercises and made reasonable progress for a self-taught person. 
    </p>
    <p>
        I enrolled in a Tech Prep program at the start of my Junior year in high school that earned me college credit.  
        I qualified for a state programming competition through the program, in the C++ programming category.  
        However, C++ wasn't specifically covered in my classes.  I was more interested in playing games than creating them with the level of support and motivation I had.
        I continued to study computer science in high school and college while enjoying other passions such as playing jazz saxophone, running, and personal bodybuilding. 
    </p>

    {% block content %}{%endblock%}
</html>