{%load static%}
  
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--- remove head <link rel="icon" type=image/png href="{%static "projects/self_portrait.png" %}">

    <title class="text-center">Rob's Portfolio</title>
    end of remove head--->
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
  
<!-- navbar-expand-lg -->

  <nav class="nav navbar navbar-expand-sm navbar-light bg-light navbarButtonFix">
      <a class="nav-link navbarButtonFix" href="{%url 'home' %}">Home</a>
      <!---<li class="dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
         Projects 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{%url 'music' %}">Music</a>
        </div>
      </li>--->
      <a class="nav-link" href="https://docs.google.com/document/d/1vwhZd_NUcU1Lupr11SiD4NbE3955JjbX_BaVB_Ro-So/edit?usp=sharing">Resume</a>
      <a class="nav-link" href="https://github.com/sftppgn">GitHub</a>
  </nav>

  {% block content %}{%endblock%}
</html>