{%extends 'projects/base.html'%}

{%block content%}
{%load static%}
<br>
<!---
<a href="{%url 'blog:home' %"}>Blog</a> 
<a href="{%url 'blog:home' %}">Blog</a>
<br>
<a href="https://docs.google.com/document/d/1vwhZd_NUcU1Lupr11SiD4NbE3955JjbX_BaVB_Ro-So/edit?usp=sharing">Resume</a>
<br>
<img class="rounded mx-auto d-block" src="{%static 'projects/self_portrait2-resize.jpg'%}">
<h1 class="text-center">Rob's Portfoilo</h1>
<br>!--->
<div class="container">
	<div class="row" >
{% for project in projects %}
	<div class="col-lg-6">
			<a href="{{project.url}}">
			<img  class="img-fluid mb-2" src="{{project.image.url}}">
			</a>
	<h2>{{ project.title }}</h2>
	<p>{{ project.description }}</p>
			</div>
{% endfor %}
		</div>
</div>
{%endblock%}